 html, body {
   height: 100%;
   box-sizing: border-box;
  }
  
  body {
    font-family: 'Raleway', sans-serif;
    padding: 10px;
    background: linear-gradient(135deg, #b04, #f80) fixed;
  }

  .flex-box{
    display: flex;
    background-color: rgb(253, 193, 226, 0.5);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .wrapper{
    display: flex;
    background-color: rgb(253, 193, 226, 0.5);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .one{
    display: flex;
    background-color: rosybrown;
    height: 300px;
    flex-grow: 1;
  }

  .two{
    flex-direction: column;
    display: flex;
    background-color: aquamarine;
    flex-grow: 1;
  }

  .box{
    display: flex;
    flex-grow: 1;
    background-color: #f80;
  }
  