body{
    background-image: url(../img/bb.jpg);
    font-size: 17px;
    color: rgb(243, 16, 129);
    font-family: 'Times New Roman', Times, serif;
    padding: 0;
    margin: 0;
}

h1{
    color: rgb(243, 16, 129);
    font-family: 'optima';
    font-style: italic;
    padding: 50px;
    margin: 0px;
    text-align: center;
    font-size: 60px;
    background-repeat: no-repeat;
    background-size: cover;
}

p{
    color: rgb(243, 16, 129);
    margin-left: 30px;
}

h3{
    background-color: plum;
    text-decoration: wavy;
    padding: 5px;
}

.intro{
margin: 10px;
padding-top: 50px;
background-size: cover;
background-position: center;
}

h2{
    font-family: Helvetica, sans-serif;
}

.title1{
text-align: center;
text-decoration: underline;
}


ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 147, 214);
}

li{
    float: left;
    display: block;
    color: rgb(243, 16, 129);
    text-align: center;
    padding: 16px;
}

li:hover{
    background-color: rgb(250, 192, 211);
}

a:link{
text-decoration: none;
color: rgb(243, 16, 129);
}

a:visited{
color: rgb(243, 16, 129);
}

a:active{
color: rgb(243, 16, 129);
}



/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-align: center;
  }
  
  /* The actual popup (appears on top) */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 60px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 100%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }
















.mx-auto {
margin-right: auto !important;
margin-left: auto !important;
}

.p-3{
padding: 1rem !important;
}
.mb-4, .my-4 {
    margin-bottom: 1.5rem !important;
}
.w-75 {
    width: 75% !important;
}
.d-block {
    display: block !important;
}
.rounded-circle {
    border-radius: 50% !important;
}
.bg-primary {
    background-color: #ff3ba7 !important;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
img {
    vertical-align: middle;
    border-style: none;
}
*, *::before, *::after {
    box-sizing: border-box;
}
.text-center {
    text-align: center !important;
}

